[2021-02-15 15:08] xPaw opened #82 "Consider making / directory separator for file paths the default for consistency against other operating systems"
## Environment

| Item | Value |
|---|---|
| OS, Version / Build | 10.0.19042.0 (any applies)   |

## Description

Historically, Windows is odd one out by using `\` over `/` for dir separators. For developers this is especially annoying.

Windows 10 understands `/` everywhere as far as I am aware.

With Microsoft pushing for developer ecosystem on Windows, I think this might a good idea to revist

[2021-02-15 21:17] sylveon commented on #82
There are many programs which still treat `\` as "the only" path separator on Windows, despite this not being true for a while (I've recently had to fix a library for that myself: https://github.com/gabime/spdlog/pull/1787).

Such a change (making APIs return paths with forward slashes instead of backslashes) will have significant backwards compatibility consequences.

[2021-02-15 23:51] riverar opened #83 "Is this repository dead?"
Seems @bitcrazed @zooba and friends are busy with other projects and this repository isn't seeing much action. Issues aren't getting triaged, pull requests not getting reviewed, etc. Why should developers file their bugs here?

[2021-02-16 01:35] AzAgarampur commented on #12
I would like to mention that this is happening now:
![image](https://user-images.githubusercontent.com/42058942/108007978-1611e500-6fb4-11eb-89be-f4062a542402.png)

As the image shows, some aero peek windows are loosing their shadow, along with being shifted. The right window does not have a shadow, and the left one does (however, the top edge is missing its shadow).

[2021-02-16 09:30] randomascii commented on #80
Hey, it's now a blog post! https://randomascii.wordpress.com/2021/02/16/arranging-invisible-icons-in-quadratic-time/

[2021-02-16 10:47] rahan-crao commented on #77
You can get the very last version of Dependency Walker here: https://zzz.buzz/2017/05/18/download-dependency-walker/

[2021-02-16 12:07] kumarharsh commented on #80
Really liked the post. And I'd like to point out to the Windows team that from my experience (anecdotal) I've seen about 90% of my colleagues, family, friends, cyber cafe shops, etc have their desktop full of icons. This seems like a major win if fixed soon.

[2021-02-16 15:14] ericsampson commented on #67
@bitcrazed would it be possible to get someone to triage this? Thanks!

[2021-02-16 16:21] justanotheranonymoususer commented on #82
It can be opt-in with a manifest declaration, just like it was done with [UTF-8](https://docs.microsoft.com/en-us/windows/uwp/design/globalizing/use-utf8-code-page).

[2021-02-16 18:08] zooba commented on #83
Responsiveness was always going to be the hardest part, but we're still definitely interested in hearing about the issues. We definitely have other projects that take our attention away from being public relations folk on GitHub, and only one of those is trying to get the feedback directed appropriately internally.

Basically all of these involve a large amount of bottom-up advocacy with the relev

[2021-02-16 18:08] #83 closed, assigned to nobody

[2021-02-16 20:13] xPaw opened #85 "Consider making LF (over CRLF) line endings the default for consistency against other operating systems"
## Environment

| Item | Value |
|---|---|
| OS, Version / Build | 10.0.19042.0 (any applies)   |
| Processor Architecture | Any  |
| Processor Type & Model | ___ |
| Memory | ___ |
| Storage Type, free / capacity (e.g. C: SSD 128GB / 512GB) | ___ |
| Relevant apps installed  | Visual Studio, Windows Terminal, PowerShell, etc. |

## Description

Historically, Windows is odd one out by using CRLF o

[2021-02-16 20:23] bitcrazed commented on #82
Polite ask: Please file separate issues for separate problems/suggestions.

Closing this issue as won't fix because:

1. Preventing the use of \ as a path separator would break hundreds of millions of scripts, apps, and tools, cause many businesses and potentially several countries to collapse. This is not an exaggeration - many of the systems that support modern businesses and economies rely on d

[2021-02-16 20:23] #82 closed, assigned to nobody

[2021-02-16 20:27] xPaw commented on #82
I did split the issue out.

The suggestion is not to prevent it, but change the default which is used to display paths, like in the terminal: `xPaw in C:\Users`. or when pressing <kbd>tab</kbd> to auto complete paths.

[2021-02-16 20:27] bitcrazed commented on #85
Closing as wontfix for the same reasons articulated in #82, copied below for completeness:

There isn't some magical function in Windows that parses/emits CRLF as a line ending - this behavior is hard-coded into hundreds of millions of apps, tools, scripts, etc. many of which will break if CRLF is replaced with LF, again, likely crashing millions of systems, businesses, and even several nations.

[2021-02-16 20:27] #85 closed, assigned to nobody

[2021-02-16 20:31] justanotheranonymoususer commented on #85
You can start by changing yours (Microsoft). It can be opt-in just like long paths or system-wide UTF-8 is opt-in. It's a legit suggestion that I don't think should be closed.

What year is it? It might have been right when we were babies.

[2021-02-16 20:34] justanotheranonymoususer commented on #82
Your arguments don't hold water IMO, Rich. Similar things have done before without breaking compatibility. Those things can be opt-in and co-exist while being in a deprecation phase. But I think the real reason it won't happen is because it's work, which costs time and money, for an annoying inconsistence that people just learned to live with.

[2021-02-16 20:48] sylveon commented on #82
Opening an issue specifically for that (support forward / in auto-completion and path display for CMD/PowerShell) would hold much more ground than a blanket "make / the separator" issue.

[2021-02-16 20:50] xPaw commented on #82
But that doesn't really get us anywhere in terms of the whole Windows ecosystem. I didn't expect this issue to gain any traction, I just threw it out there.

[2021-02-16 20:51] sylveon commented on #82
Doubt the whole Windows ecosystem will ever completely move away from the 30+ years legacy of \

[2021-02-16 21:07] bitcrazed commented on #82
@justanotheranonymoususer You have opt-in today - you can choose to use the / path separator in your PowerShell scripts if you wish.

This isn't about it causing us (Microsoft) work - it's about not breaking existing apps, tools, customers, businesses, etc.

And while this may be an annoyance for *NIX users, The \ path separator is the norm for Windows users who are the majority of users on Window

[2021-02-16 21:11] justanotheranonymoususer commented on #82
Yes, but you can't make powershell display or auto-complete /, right?
Or, for example, type `C:/` in the Run dialog or in file explorer. No auto-complete, unlike `C:\`.
Basically, it's not a first class citizen.

That I agree with.

I don't have strong feelings about it, and I hardly see it happen, I just thought that your arguments weren't convincing enough.

[2021-02-16 21:37] bitcrazed commented on #85
So we change every Windows app that saves text to files to emit LF instead of CRLF and break many THOUSANDS (if not millions) of running systems that expect to see CRLF. This helps how?

[2021-02-16 22:05] orcmid commented on #85
This all goes back to the way terminals once worked (like typewriters) and also how Ascii displays worked too.

It was also the default interpretation of the CR and LF control codes in original ASCII and ISO 646-1973.  For ISO 646, there was accommodation of the treatment of LF as NL (newline) by agreement among the senders and recipients.  There is also (in my copy of 646-1973 that I am looking a

[2021-02-16 22:13] justanotheranonymoususer commented on #85
I'd love to do that on my computer, and if some breaks, report to the authors :) I do understand the realities, though

I don't quite agree. There's much more hassle. Say you're parsing a file. In addition to being able to parse `\n` vs `\r\n`, what happens if you get `hello\n\rworld` or `hello\r\n\rworld`? What happens if a part of the file has one line ending and another a different one? etc. et

[2021-02-16 22:40] bitcrazed commented on #82
No - the formal path separator is the backslash \\. The forward slash / is an accommodation and cannot be used everywhere as it will sometimes be interpreted as a switch separator.

If you'd like to petition the PowerShell team to provide a config setting controlling which path separator char to display in file paths etc., then please do so: http://github.com/powershell/powershell. However, note t

[2021-02-16 22:47] justanotheranonymoususer commented on #82
I'm not here to achieve that. I just provide my opinion on @xPaw's issue which I think is worth a discussion, as unreal as it might be short term.

Actually, I'm here (in this repo) because of [this issue](https://github.com/microsoft/WinDev/issues/74). Something is really wrong there in the help catalog, and I'm upset because I rely on it for some task. @bitcrazed, using a chance of talking with

[2021-02-16 22:56] bitcrazed commented on #74
Not his direct responsibility, but hoping @mattwojo might be able to help route to whoever owns our KB content publishing system.

[2021-02-16 23:37] mattwojo commented on #74
Investigating who owns this stuff. Thanks for bringing to our attention! ~Matt

[2021-02-16 23:47] mattwojo commented on #74
@lizap - Do you own https://docs.microsoft.com/en-us/windows/release-health/release-information?
Is this issue something that you can help with?

[2021-02-18 03:11] AzAgarampur commented on #76
Are there any updates to this issue?

[2021-02-18 18:06] AvriMSFT commented on #79
This bug may be less frequently hit but still worth capturing 😉. The Alt-Tab team actually collects their bugs and feedback via feedback hub under the category Desktop Environment -> Alt-Tab and Task View.

[2021-02-18 18:06] #79 closed, assigned to nobody

[2021-02-18 18:40] AvriMSFT commented on #77
Thanks @nmoinvaz and @rahan-crao for the assistance here 😀. I'll be closing the issue since there is an updated version of Dependency Walker.

[2021-02-18 18:40] #77 closed, assigned to nobody

[2021-02-18 18:42] jassmith commented on #79
Thank you Avri for the redirect. I have filed in the suggested location.

[2021-02-18 18:53] jamesmcguirepro commented on #77
@AvriMSFT The issue still exists with the updated version of dependency walker

![image](https://user-images.githubusercontent.com/46612003/108406548-70d75680-71d7-11eb-8db1-b8af023eb4aa.png)

[2021-02-19 10:18] warpdesign opened #86 "Tray tooltip uses incorrect scaling on HDPI screen"
## Environment

| Item | Value |
|---|---|
| OS, Version / Build |  Microsoft Windows [version 10.0.19042.804] |
| Processor Architecture |  x64 |
| Processor Type & Model | core i5 |
| Memory | 8Gb |
| Storage Type, free / capacity (e.g. C: SSD 128GB / 512GB) | SSD 256Gb |
| Relevant apps installed  | ___ |

## Description

The tooltip of tray icons is way to small and appears to use incorrect sc

[2021-02-19 10:18] warpdesign commented on #86
PS: you can also notice how the Surface Book's attach icon (the one right to the sound icon) is also blurry on the first screenshot. But I already created an issue for that a long time ago.

[2021-02-19 20:10] mattwojo commented on #74
@CHorvath12 has claimed ownership and is actively investigating. Thanks Corrine!

[2021-02-19 21:02] CHorvath12 commented on #74
@justanotheranonymoususer

Yesterday afternoon, I was made aware of your feedback and open questions. I can you started reaching out about a month ago. Since then, some of the issues you identified have been resolved while others remain open.

For the side bar issues: We did encounter some issues during our migration to the updated platform but most have been resolved. We do have internal bugs ope

[2021-02-19 23:03] justanotheranonymoususer commented on #74
Hi @CHorvath12, good to finally have somebody to talk to about that.

Yes, it is available on that link, but:
* It can't be found [here](https://support.microsoft.com/en-us/help/4043454) under "Windows 10, version 1709 update history". It was available there before. You can also see that other "Windows 10 Mobile" items can be found there, like [KB4535289](https://support.microsoft.com/en-us/help/4

[2021-02-20 00:00] CHorvath12 commented on #74
For all side bar missing items: I'll follow up with the team that managed the migration. This includes what you provided for KB4341235. They are aware of missing items and are working to resolve them. All of the KB articles you listed that are on the iframe page but not the release notes are live but missing from the side bar.

The initial rollout does not have a KB article as it is not a servicin

[2021-02-20 02:06] bitcrazed commented on #67
Sorry - I updated the label to "investigating" but forgot to update the thread with a comment.

I have a conversation ongoing with the owners of WinMgmt and will reply as soon as I can.

[2021-02-23 05:40] TechnikEmpire commented on #54
Any update on this or suggested workaround?

[2021-02-23 10:05] ClosetBugSlayer commented on #54
I'm beginning to wonder if this was the most effective forum to report this but it doesn't seem like anyone is watching. I don't know where else to go with it, the bug is pretty obvious.

[2021-02-23 10:51] TechnikEmpire commented on #54
Yeah I was a little shocked to have to google my way into this random ticket to find anything about it. It was completely ruining a simple app I made that just transcodes files.

Perhaps report it in developercommunity.visualstudio.com under c++. That seems to be the bin where someone from Microsoft will pick it up and (hopefully) route it to the correct team.

[2021-02-23 18:26] Trentent commented on #78
I just experienced this exact issue.

My CPU % was reported to be only 3% but due to thermal throttling my CPU was running at 300Mhz...  So I was having extremely poor performance and the 3% was not reflective of the actual experience.

https://twitter.com/TrententTye/status/1363550869501800448

[2021-02-26 19:57] dmex commented on #78
That's an incorrect and misleading counter because processes are multi-threaded on Windows while on Linux processes are single-threaded and so times/dividing those counters on Windows based on logical processors instead produces a garbage counter which is meaningless because the scheduler can and does switch the threads onto different cores/processors.

Process Explorer/Process Hacker and other th

[2021-02-26 20:59] GreLI commented on #86
I see it every time when switching to another user without attaching extra monitor.

[2021-02-26 21:45] randomascii commented on #78
No, the OP's point is correct. If a single process is running a single thread and that thread is in a busy loop then (assuming that the system is otherwise idle) it is desirable and useful to display the CPU usage as 100/n%, where n is the logical processor count. The fact that processes on Windows might have multiple threads is not relevant for this thought experiment. If the busy thread of that

[2021-02-27 01:05] dmex commented on #78
Windows processes have not been single threaded for over 30 years. The loader creates thread pools for loading imported dlls during process creation, COM and RPC create threads for marshalling parameters cross processes, performance counters create threads for caching/calculating counters, winsock creates threads for pipes and IO completion ports, win32k creates threads for injecting DLLs when oth

[2021-02-27 01:30] randomascii commented on #78
That doesn't matter. For this question the only relevant thing is how many threads are actively running. The OP posited a process with a single busy thread. Idle threads do not affect this question.

It's not a matter of accuracy, it is a matter of the desired meaning. The advantage of having 800% mean "8-cores, on average, are busy" is that it gives you a portable sense of how much work is being

[2021-03-01 15:23] myokeeh commented on #22
I went through releasing a test app to the Store last night with the change of distributing it to a "private audience." I can confirm that it works for that. **So to provide another data point, it appears this is a problem with LOB apps.**

[2021-03-04 12:54] ValZapod commented on #80
The funniest part here is

I have an (AM) OLED LG TV as my monitor so I did hide all icons and has hidden my control panel. As you can imagine the issue affects me 😪 and yeah, I have NVMe.

So maybe this is due to some race thanks to nvme scheduler. Many things were/are affected by it, starting from Assasin creed engine and ending with some algebra apps.

This can also be when the amount of icons

[2021-03-04 18:08] ValZapod commented on #54
Chrome /Chromium does / did it too when you play mp4 (or mkv renamed into mp4 as it cannot play mkv, but plays renamed file 😪🤣🤣). Does it use MFCreateSourceReaderFromURL()? We do use MFF in our Mojo video decoder.

[2021-03-06 20:04] myokeeh commented on #22
@asklar, is the @vivianhan72 an active account? Seems like a ghost like the rest of the "Store team"

[2021-03-07 21:13] randomascii commented on #80
The issue is not caused by having an NVME. Having fast hard-drive doesn't cause the problem, it just doesn't solve it.

The problem is 100% a coding bug that causes icon arrangement to take orders of magnitude longer than it should.

It will probably be quite a while (a year, perhaps?) before a fix is even possible so I would recommend deleting all of the files from your desktop, or moving them so

[2021-03-08 02:28] mmarinchenko commented on #80
@randomascii

However, who can guarantee that there is no another bunch of O(n^2) algorithms in the NVMe-driver/firmware :)

[2021-03-09 15:29] ChrisGuzak commented on #80
For those at MS I filed this bug to track this: https://microsoft.visualstudio.com/OS/_workitems/edit/32056718

[2021-03-24 17:00] phanimsft-aa commented on #22
@myokeeh Thanks for bringing this issue to our attention. Please submit App Assure request using below link and we will try to help you fix this issue.
https://aka.ms/appassurerequest

[2021-03-25 07:51] myokeeh commented on #22
@phanimsft-aa Submitted.

[2021-03-29 17:46] TechnikEmpire commented on #54
@ValZapod Do you have more info to add to your comment? If we can track down this issue in Chromium then we could possibly work around it?

[2021-03-29 18:24] ValZapod commented on #54
It was fixed in 86 Milestone. So no need ;)

[2021-03-29 18:30] TechnikEmpire commented on #54
@ValZapod .... do you have a link to the patch or? What I'm asking is *how* did they fix it, because for the rest of us out here running into this windows bug, since Microsoft seems uninterested in fixing it, it would be nice to be able to work around it like others have.

[2021-03-29 18:45] ValZapod commented on #54
Nope, sorry. You can try to search trough https://chromium-review.googlesource.com/ of course, but it may be very hard.

[2021-03-31 09:03] zodiacon commented on #36
@randomascii, I would like to repro this. Can you share details of your filters? You don't have to be too specific - just the filter type (process name, etc.) and relationship (is, greater than, etc.)

[2021-03-31 14:56] riverar commented on #36
@zodiacon Here's one way:

1. Open Process Monitor
2. In the Process Monitor Filter window, add a filter for <Path> contains abcdefghij
3. Click Filter > Drop Filtered Events *if not already checked*
4. Click the Clear button to clear all events (the status bar will indicate this via "No events")
5. Click Filter > Enable Advanced Output to toggle its value (not important if it's on or off)
6. Obse

[2021-03-31 15:02] zodiacon commented on #36
Excellent, thank you! On it.

[2021-03-31 15:12] riverar commented on #36
Just a warning: I suspect there are multiple bug _entrypoints_ here; I believe I've also seen this without touching the Enable Advanced Output feature. That will be harder to reproduce, of course.

[2021-03-31 15:47] zodiacon commented on #36
Found the bug :)

[2021-03-31 17:54] randomascii commented on #36
That's great!

I look forward to a fixed version as this will unblock some important scenarios. It's not really important but are there any interesting details you can share about the cause? I'm just curious.

[2021-03-31 17:55] zodiacon commented on #36
Not worth sharing :)

[2021-04-01 17:57] TechnikEmpire commented on #54
@bitcrazed can you shed any light on this issue please?

[2021-04-06 03:15] zjturner commented on #64
Any updates yet on what build this will be fixed in?  We still regularly hit this issue when imaging new machines, so I'm assuming it's not live yet?

[2021-04-06 18:50] TechnikEmpire commented on #54
Ok, maybe @mattwojo or @zooba ?

[2021-04-06 22:53] bitcrazed commented on #54
I've sent a mail to find someone who owns this area. Stay tuned. We appreciate your patience.

[2021-04-08 01:46] bitcrazed commented on #54
Hey @TechnikEmpire & @ClosetBugSlayer

I've spoken with some of our engineers re. this issue. They've tried but failed to repro the issue you describe using the following code. Could you try this on your end and see if it works for you?

Alternatively, please share your repro case so our devs can take a look and see if there's anything they can suggest.

[code]

[2021-04-09 19:49] TechnikEmpire commented on #54
Thanks for the update. A puzzle indeed, I'll try to get a repro. However from your given example, I suspect that fully shutting down MF before checking the handles is hiding the issue, but I may be wrong.

[2021-04-09 20:06] ClosetBugSlayer commented on #54
In my code, every interface is released when closing the source reader but the handle to the file is still active in the process, I can see it in Process Explorer.  I am unable to delete the file from Explorer until my process is terminated. The control for this is MP3 and MP4 files which close correctly using the same code.

[2021-04-09 20:31] bitcrazed commented on #54
@ClosetBugSlayer It's really difficult to help diagnose a problem without a repro case. Please create and share a minimal repro and share so we can take a look.

[2021-04-13 01:10] TechnikEmpire commented on #54
@ClosetBugSlayer Do you have a specific file you were able to repro on? I'm unable so far to reproduce but where I originally observed this was a sort of drag-net, scooping up thousands of files. I'll try to hunt one of those streams down but thought I'd ask in the meantime.

[2021-04-13 09:11] ClosetBugSlayer commented on #54
OK I had it slightly wrong. After testing, MFCreateSourceReaderFromURL() isn't leaking FLAC handles. IMFSourceResolver.CreateObjectFromURL() is where my leak is happening, and I get the interface from MFCreateSourceResolver().

This C# interop chunk from my project doesn't directly compile but it should be very easy to follow:

[code]

[2021-04-13 16:56] AvriMSFT commented on #86
@warpdesign Thanks for filling! Unfortunately, this is not a performance related issue and so it will be closed with the reason "out of scope". I have reached out to the Taskbar team so they're now aware of the issue and will be exploring. I've also gone ahead and upvoted the issue on Feedback Hub.

[2021-04-13 16:56] #86 closed, assigned to nobody

[2021-04-13 17:03] AvriMSFT commented on #81
Hey Bruce! This issue is actually to be handled by the Task Manager team and they take their feedback via the Feedback Hub. Can you file this issue in Feedback Hub under Desktop Environment -> Task Manager? Once you've done that, please paste the link here and I can upvote the feedback 🙂. I've also reached out to the team about this issue so they're aware of it now and are investigating a fix. Onc

[2021-04-13 17:17] AvriMSFT commented on #76
@AzAgarampur Unfortunately this issue is out of scope for this repo, so it won't be tracked here. BUT The file explorer team gets feedback and bug report via Feedback Hub! Please file this issue in Feedback Hub under "Files, Folders, and Online Storage -> File Explorer". Once you've done this, please paste the link here and I can go ahead and give the feedback an upvote. In the meantime, I've reac

[2021-04-13 17:22] AzAgarampur commented on #76
Here's a link to the feedback: https://aka.ms/AAbx7yc

[2021-04-13 17:26] AvriMSFT commented on #76
Awesome! I've upvoted the feedback.

[2021-04-13 17:26] #76 closed, assigned to nobody

[2021-04-13 17:44] AvriMSFT commented on #68
@FletcherJ1 Unfortunately this issue is out of scope for this repo, so it won't be tracked here. BUT the team responsible for this issue gets feedback and bug reports via Feedback Hub! Please file this issue in the Feedback Hub under "Displays and Graphics -> Multiple Displays". Once you've done this, please paste the link here and I can go ahead and give the feedback an upvote. In the meantime, I

[2021-04-13 17:49] AvriMSFT commented on #66
Unfortunately this issue is out of scope for this repo, so it won't be tracked here. BUT there's actually no need because this issue has been fixed in a recent build 🎉🙂 https://support.microsoft.com/en-us/topic/february-2-2021-kb4598291-os-builds-19041-789-and-19042-789-preview-6a766199-a4f1-616e-1f5c-58bdc3ca5e3b.

[2021-04-13 17:49] #66 closed, assigned to nobody

[2021-04-13 17:57] AvriMSFT commented on #63
Unfortunately, this issue is out of scope for this repo, so it won't be tracked here and will be closed as out of scope. BUT this bug has actually been fixed in the dev channel. So, if you'd like to update to the latest Insider build you will see the fix 🙂.

[2021-04-13 17:57] #63 closed, assigned to nobody

[2021-04-13 18:04] AvriMSFT commented on #61
@warpdesign Thanks for filling! Unfortunately though, this issue is out of scope for the repo so I will have to close it out.

The battery team does get all of their feedback via Feedback Hub so you did the right thing by reporting there. I spoke with folks on the battery team and they say that this issue was addressed and fixed in the latest dev channel build 🎉

[2021-04-13 18:04] #61 closed, assigned to nobody

[2021-04-13 18:11] AvriMSFT commented on #60
@warpdesign Hey! Thanks for being so active on this repo. You may see some similar messages on your other issues so I figure I'd make the call out now-- Some of the issues you report aren't performance related and so they're out of scope for the repo. But I will be sure to upvote the items in Feedback Hub and reach out to the teams responsible so that they're aware.

[2021-04-13 18:11] #60 closed, assigned to nobody

[2021-04-13 18:12] AvriMSFT commented on #60
Also it looks like there is a comment on your Feedback Hub submission asking for your diagnostic logs.

[2021-04-13 18:19] AvriMSFT commented on #58
Hey Nathan! This is a really cool feature request and one that I've never heard of before. The Task Manager team takes all of their feedback via Feedback Hub, so please make this request under the "Desktop Environment -> Task manager" category. I'll also reach out to the Task Manager team with this request. You might also want make this feature request on the [PowerToys repository](https://github.

[2021-04-13 18:19] #58 closed, assigned to nobody

[2021-04-13 18:33] AvriMSFT commented on #49
Hey @warpdesign! If you're still running into the issue please create another piece of feedback and include the link here so that I can upvote. Unfortunately, this issue is out of scope for the repo and will be closed out as such. The File Explorer team is aware of the issue.

[2021-04-13 18:33] #49 closed, assigned to nobody

[2021-04-13 18:40] AvriMSFT commented on #48
Unfortunately this issue is out of scope for this repo, so it won't be tracked here.

The Defender team would own this application so please file the feedback under the Security and Privacy -> Microsoft Defender Firewall and Network category. I will reach out to the Defender team to let them know about the scrolling behavior

[2021-04-13 18:40] #48 closed, assigned to nobody

[2021-04-13 18:43] AvriMSFT commented on #47
Thanks again for filing! This issue is not performance related and so it's out of scope for the repo. The Feedback Hub is definitely the right place for this issue and I've gone ahead and gave your issue an upvote there.

[2021-04-13 18:43] #47 closed, assigned to nobody

[2021-04-13 18:51] AvriMSFT commented on #44
Unfortunately this issue is out of scope for this repo, so it won't be tracked here. BUT the team responsible for this issue gets feedback and bug reports via Feedback Hub! Please file this issue in the Feedback Hub under "Install and Update -> Downloading Installing and Configuring". Once you've done this, please paste the link here and I can go ahead and give the feedback an upvote.

Here's some

[2021-04-13 18:51] #44 closed, assigned to nobody

[2021-04-13 18:58] AvriMSFT commented on #42
Unfortunately, this issue is out of scope for this repo, so it won't be tracked here. BUT the team responsible for this issue gets feedback and bug reports via Feedback Hub! Please file this issue in the Feedback Hub under "Power and Battery". Once you've done this, please paste the link here and I can go ahead and give the feedback an upvote. In the meantime, I'll track down an owner for this iss

[2021-04-13 19:02] AvriMSFT commented on #24
Unfortunately, this issue is out of scope for this repo, so it won't be tracked here. BUT the team responsible for this issue gets feedback and bug reports via Feedback Hub! Please file this issue in the Feedback Hub under "Displays and Graphics -> Multiple Displays". Once you've done this, please paste the link here and I can go ahead and give the feedback an upvote.

I've reached out to the team

[2021-04-13 19:21] #41 closed, assigned to nobody

[2021-04-13 20:01] orcmid commented on #44
https://aka.ms/AAbxsya

[2021-04-13 20:45] TechnikEmpire commented on #54
@bitcrazed I'm not sure what happened, but I'm no longer able to reproduce this even in the original software where it was first observed. I also created a standalone example with full HW support etc, no repro. Sorry to take up your time for nothing!

[2021-04-13 20:45] TechnikEmpire commented on #54
Should be noted though that  I observed this issue with `MFCreateSourceReaderFromURL`, not `MFCreateSourceResolver`.

[2021-04-13 20:47] ClosetBugSlayer commented on #54
I could have sworn it was MFCreateSourceReaderFromURL but last night changed things. We're in the twilight zone now.

[2021-04-13 21:49] bitcrazed commented on #54
@ClosetBugSlayer & @TechnikEmpire - Thanks for investigating at your end.

Since this may have become a heisenbug with no repro, I'll close this issue for now to get it off our radar. If you ever do manage to create a repro, please feel free to ping this thread, share your repro case, and request that the bug be reopened.

[2021-04-13 23:10] bitcrazed commented on #40
Closing this issue as there's no further work to be done to remedy the reported issue. The fix is shipping in currently released insider builds and will arrive in GA builds in the next Windows release.

Thanks all for reporting this issue, and for your support and patience while we drive the fix.

[2021-04-13 23:10] #40 closed, assigned to nobody

[2021-04-13 23:12] bitcrazed commented on #39
Hey @Randomascii and others - thanks for filing this issue. Closing since there's no further active work required for this issue.

[2021-04-13 23:12] #39 closed, assigned to nobody

[2021-04-13 23:18] bitcrazed commented on #37
Hey all. Hope you don't mind, but I am going to close this issue for now as there's work underway to address much of the feedback discussed above, and tracking feedback for the perf of UI features is (as @Poopooracoocoo kindly points out) best filed via Feedback Hub along with recorded repro steps.

Thanks for taking the time to share your views and observations - they've helped us prioritize some

[2021-04-14 00:12] bitcrazed commented on #8
Hey all. Closing this issue for now since the indexing team have already shipped several important improvements in 20H2 which is now generally available. If you find further issues, please report via Feedback Hub so the team gets info on your machine, resources, and workload, so that they can figure out what's going on.

Thanks for reporting and contributing to this interesting discussion!

[2021-04-14 00:12] #8 closed

[2021-04-14 00:23] bitcrazed commented on #67
Thanks for reporting @randomascii. I've reported this to the team. They have stated that the WMI repository is not designed to service data > 200MB, as per this TechNet article: https://social.technet.microsoft.com/wiki/contents/articles/10130.root-causes-for-slow-boots-and-slow-logons-aka-sbsl.aspx#WMI

Closing this issue since this is a) by design, and b) has a work-around (i.e. not calling `Ver

[2021-04-14 00:23] #67 closed, assigned to nobody

[2021-04-14 00:34] bitcrazed commented on #14
All: Closing for now as this is somewhat out of scope for this repo. Please continue to route via Feedback Hub so it gets to the Settings team. I know this can feel like a one-way street and a black hole, but know that there are real people and teams on the other end of the channel who appreciate your feedback and suggestions, and who are in a position to review and make changes if feasible.

Than

[2021-04-14 00:34] #14 closed, assigned to nobody

[2021-04-14 00:36] bitcrazed commented on #50
Closing since this fix is now shipped and you should no longer see Defender get (as) busy when creating a dev VM.

[2021-04-14 00:36] #50 closed, assigned to bitcrazed

[2021-04-14 02:12] Eli-Black-Work commented on #21
Taking another look at this, it feels like the most actionable of the original suggestions is this one:

I wonder if that would really speed things up? Seems like a nice idea, if so 🙂

[2021-04-14 02:13] Eli-Black-Work commented on #24
@AvriMSFT, This bug isn't about multiple displays. Should feedback still be filed there?

[2021-04-14 04:27] Poopooracoocoo commented on #63
Funny how many years it took. @AvriMSFT I thought Rich said that a bunch of annoying bugs were in scope of the repo.

[2021-04-14 04:27] Poopooracoocoo commented on #66
Only took several years. It really should be in scope of the repo. Rich said something like that.

[2021-04-14 16:13] AvriMSFT commented on #24
Yes. I spoke with a rep and they recommended you file there.

[2021-04-14 16:26] AvriMSFT commented on #78
This is a very valuable piece of feedback for the Task Manager team and I think the need is clear. I've gone ahead and upvoted the feedback in the Feedback Hub. Unfortunately though, this issue is out of scope for the repo and will be closed out as such. I'll track down someone from the Task Manager team about the request and put it on their radar.

[2021-04-14 16:26] #78 closed, assigned to AvriMSFT

[2021-04-14 16:28] ChrisGuzak commented on #55
For MS people follow along on the bug [here](https://microsoft.visualstudio.com/OS/_workitems/edit/32495831).

[2021-04-14 16:45] AvriMSFT commented on #73
@sylveon Thanks for the solution 🙂. This should help @torquerrr

[2021-04-14 16:45] #73 closed, assigned to nobody

[2021-04-14 16:53] AvriMSFT commented on #70
@Felix-Dev Sorry for the delayed response. @zooba and the rest, thank you for replying and helping out on this issue. Unfortunately, this issue is out of scope for the repo. The best thing to do would be to author a piece of feedback in the Feedback Hub and include the link here. I (and perhaps others on this thread) can then upvote the feedback so that it gets more attention. Once you've done tha

[2021-04-14 17:12] AvriMSFT commented on #53
This issue is out of scope for this repository. Per @asklar's response, please file the bug against VS!

[2021-04-14 17:12] #53 closed, assigned to nobody

[2021-04-14 17:26] #37 closed, assigned to nobody

[2021-04-14 17:31] AvriMSFT commented on #43
Hey all, I'll be closing out this issue as its out of scope for the repo. The performance of UI and other non developer related tech and tooling is best reported via feedback hub. For this issue specifically, file under Desktop Environment -> Task view. We know that the team has been working on improvements in this space for awhile but right now there's no ETA on when they'll be available for Insi

[2021-04-14 17:31] #43 closed, assigned to nobody

[2021-04-14 17:48] AvriMSFT commented on #22
It looks like @phanimsft-aa is handling this via App Assure. So I will close out the issue here.

[2021-04-14 17:48] #22 closed, assigned to asklar

[2021-04-15 03:44] randomascii commented on #78
Can you put in a link to the feedback hub item so that those who find/follow this item can upvote the feedback hub item?

[2021-04-15 03:48] Eli-Black-Work commented on #78
@randomascii I think it's the one that's in the original post: https://aka.ms/AAaxq8k 🙂

[2021-04-15 03:49] Eli-Black-Work commented on #73
@AvriMSFT Can we reopen this? I think there are still actionable items on this, as per @sylveon's comment.

[2021-04-15 04:01] randomascii commented on #37
Is there a feedback hub item for this issue? I can't file one on this computer but it would be good to have one that others can follow along with. I understand closing issues that are out-of-scope for this bug database, but it feels like that action should include a link to a replacement item in the correct bug database, otherwise we have no way to track the ongoing work.

[2021-04-15 07:58] warpdesign commented on #24
I filled an issue in FH: https://aka.ms/AAbz26p as suggested.

[2021-04-15 08:13] warpdesign commented on #60
@AvriMSFT  The comment says:

I'm not sure I understand: does it mean I should create again a new issue to describe the same problem?

[2021-04-15 16:54] bitcrazed commented on #37
I don't know if there's already something filed that others are following, but if you file an issue under "Desktop Environment -> Taskbar", and then paste a link to your feedback item here, others can add their thoughts, repro steps, etc. too.

[2021-04-15 17:42] AvriMSFT commented on #65
Hey Bruce! Thanks for filing. I've reached out to the team who owns the process and have filed a bug. I'll update this thread when I hear back from them on potential investigations/solutions/other updates.

[2021-04-15 17:51] AvriMSFT commented on #60
Yeah it looks like they'd like to include any diagnostic logs from that instance if you still have them. And if you're still experiencing the issue to file a new piece of feedback. If you do this, let me know and I'll upvote that as well. But definitely follow up on that comment. It looks like they want to do some investigating there.

[2021-04-15 17:53] AvriMSFT commented on #24
Upvoted

[2021-04-15 17:53] #24 closed, assigned to nobody

[2021-04-15 18:07] AvriMSFT commented on #69
@FrayxRulez I've filed a bug on the team who owns the file. They might reach out to inquire a bit more about the scenario. I'll check in on this thread with updates as they roll in.

[2021-04-15 18:22] AvriMSFT commented on #64
I've sent a note to the team and am waiting on a status update. I'll post here as soon as I get an answer

[2021-04-16 00:55] JasonWei512 commented on #37
Could you keep this issue open until we see the improvements in insider builds?

[2021-04-16 04:37] riverar commented on #63
@Poopooracoocoo He did and that was the wrong approach. The team here is cleaning things up. 👍

[2021-04-16 05:26] Poopooracoocoo commented on #63
@riverar but the feedback hub is a complete shithole. you have seen it, right?

what are people like me supposed to do with these stupid annoying bugs that don't get fixed for YEARS? task view, for one, is painful af. the windows explorer leaks get on my nerves.

[2021-04-16 05:45] riverar commented on #63
@Poopooracoocoo I hear ya. Let's get this one filed under [Desktop Environment] > [Snap and Snap Assist]. Paste a link afterwards and I'll shoot it straight to some shell folks.

[2021-04-16 07:16] Poopooracoocoo commented on #63
@riverar Bruh. I filed this YEARS ago. This bug has been here since W10 v1903. I ain't doing the dirty work. I'm not finding it for you.

[2021-04-16 07:23] riverar commented on #63
A talking toilet brush that doesn't want to do any dirty work. Got it.

I found a few items in Feedback Hub though so I'll pass those along right now.

[2021-04-16 09:06] Poopooracoocoo commented on #63
Ahaha. It's Billie Eyelash :P

But seriously, I meant that. Filed it years ago. I can't dig through that terrible app that I uninstalled many moons ago. thx for passing it along. i hope you do the same with the other issues in here. i saw that heaps were closed and were likely unfixed and forgotten.

[2021-04-16 12:40] FrayxRulez commented on #69
Hi Avri, sounds great! Thank you 😄

[2021-04-19 16:15] smaillet-ms commented on #69
Can you provide some more context/detailed repro steps for hitting this? What OS version? (full build version please) What process is this from? (We may be able to find telemetry from failures in these APIs that indicate what's going on but it would help to filter on the process name.) Do you know the path of the directory passed to CreateDirectoryFromApp() - especially important is any whitespace

[2021-04-21 08:47] FrayxRulez commented on #69
Hi @smaillet-ms, I'm actually seeing this behavior in production only.
Path is arbitrarily picked by users so I don't have any details about it.
In addition to the crash in FindAll, I can see one in Insert as well.
I can see some thousands of this crashes from the Partner Center, and some of them even have a crash dump.
Process name is Unigram.exe.
Unfortunately I can't provide any more informatio

[2021-04-21 22:12] riverar commented on #36
So, Procmon 3.70 [was released today](https://techcommunity.microsoft.com/t5/sysinternals-blog/procmon-v3-70-sysmon-v13-10-autoruns-v13-99-tcpview-v4-01-and/ba-p/2280263) but this behavior still seems to be present. And the feature doesn't seem to work anymore.

Video: Clicking Filter > Drop Filtered Events doesn't stop the event flow anymore

https://user-images.githubusercontent.com/475132/11562

[2021-04-21 23:26] zodiacon commented on #36
Does your filter include "Result" column conditions?
Try disabling them. The issue might be the fact that when the event comes in, the result is not yet known, so it has to go through. Only later it can be determined whether that was supposed to be dropped, but that is too late - we don't go back to drop the event. (at least not at this time)

[2021-04-22 04:59] riverar commented on #36
@zodiacon Nope. Just the default inbox filters.

[2021-04-22 05:05] zodiacon commented on #36
@riverar the default inbox filters do include at least one result column item.

[2021-04-22 05:23] riverar commented on #36
@zodiacon Ah missed that, thanks. Working as expected now. Might help to add a warning in status bar to that effect, or something!

[2021-04-22 05:45] zodiacon commented on #36
Agreed!

[2021-04-23 22:08] randomascii commented on #67
That would be great if there was some way to keep WMI databases small. In our case our database was growing without bounds, apparently due to running this command:

gpresult /scope:computer /x results.txt /F

If there was a way to delete the unneeded (possibly unreferenced?) records in order to shrink the database size then we would be fine. I suspect that garbage collection is all that is needed,

[2021-04-23 22:46] spawnz0 commented on #43
Holy f* yes I have this exact issue and after I kill my explorer and start a new process it's like instantaneous. Before it was slow as fk* molasses, I can get up and sit back down on my chair like 3 times before it'd open.
This has been happening forever. Win10 Pro, AMD 1800x (OC), 16GB RAM (OC), OS on m.2 nvme SSD, nice PSU, GTX 1080, 1440p 144Hz.

[2021-04-23 23:53] randomascii commented on #37
I filed a feedback hub issue. I started by pasting in my detailed initial report from here but that exceeded the Feedback hub limits (really?) so I had to trim it and then link to here.

The character-count limits of Feedback hub are yet another reason that it is a frustrating way to give detailed bug reports, FWIW.

The feedback link is at https://aka.ms/AAc1tlz

[2021-04-25 02:02] kaidokert opened #87 "Git checkout of large repositories is very slow"
### Windows Build Number

10.0.18363.0

### Processor Architecture

AMD64

### Memory

200 Gb

### Storage Type, free / capacity

SSD  200GB/ 1TB

### Relevant apps installed

git version 2.31.1.windows.1

### Traces collected via Feedback Hub

N/A

### Isssue description

Checking out large repos even from a local mirror is slow, compared to Linux / Mac.

Even more importantly, so is switching br

[2021-04-27 17:42] AvriMSFT commented on #87
Thanks for filing! Good news - We're actively investigating the performance of Git on Windows and are working with internal teams here at Microsoft and external teams at Github to diagnose the problem and find solutions for reducing the performance gaps between Windows and Mac/Linux. I will update this thread as fixes are identified and complete. In the meantime, can you repro the issue on Windows

[2021-04-28 06:09] randomascii commented on #67
Thinking about this more...

Saying "WMI repository is not designed to service data > 200MB" without also giving advice on how to keep the WMI repository small is just victim blaming. We used Microsoft tools (gpresult) which caused the WMI database to grow beyond Microsoft's recommendations, which then caused "winmgmt.exe /verifyrepository" to exhibit quadratic performance behavior. Your advice se

[2021-04-28 07:33] aminya commented on #21
I recommend using [fastcopy](https://fastcopy.jp/en/). It is much faster than Windows Explorer when it comes to doing operations on a large number of files.

![image](https://user-images.githubusercontent.com/16418197/116365263-b3667200-a7ca-11eb-8cf7-4f409a5aa086.png)

When copying a large number of files to a slow USB drive, consider compressing the folder before copying.

[2021-04-28 16:25] bitcrazed commented on #67
Hey Bruce. Some form of garbage collection after `gpresult` executes would likely resolve this issue. And as you point out, it appears that some garbage collection occurs periodically, though perhaps not often enough to collect the data left behind by running `gpresult` hourly.

We've reported the issue to the WMI team who have the bug on their backlog and will revisit as priorities, resources, in

[2021-04-28 17:19] ericsampson commented on #67
A sufficiently determined person could probably do a little reverse engineering and then write a utility program that would manually kick off the GC function, as a workaround…

[2021-04-28 18:20] itoleck commented on #87
My testing cloning Chromium locally between 2 SSDs (Intel 660p & WD SN550).

Windows Terminal PowerShell Core window
D:\Temp  Measure-Command { git clone c:\Users\chad\source\repos\chromium-mirror d:\temp\chromium }
Cloning into 'd:\temp\chromium'...
done.
Checking out files: 100% (363000/363000), done.

Days              : 0
Hours             : 0
Minutes           : 4
Seconds           : 38
Mill

[2021-04-30 03:24] sabbyX commented on #87
@itoleck are you using WSL2? if so cross-os filesystem performance is slow, https://docs.microsoft.com/en-us/windows/wsl/compare-versions#performance-across-os-file-systems

[2021-05-01 22:00] kaidokert commented on #87
@AvriMSFT posted feedback hub capture at https://aka.ms/AAcdkct. Although not sure how useful that is, as it's just even `rm -r directory` command that is slow.

[2021-05-03 23:23] randomascii commented on #81
I filed the issue here:

https://aka.ms/AAce5h8

I had to edit quite a bit to fit within the 1,000 (???) character limit, and I had to file the issue on my home laptop whereas the issue occurs on my work laptop where Feedback hub is disabled. Therefore the report does not include a recording of the issue happening - I hope it doesn't get discarded because of this.

[2021-05-03 23:32] randomascii commented on #78
I upvoted that feedback item. Thanks for the link.

[2021-05-11 16:57] smaillet-ms commented on #69
FYI - we are investigating, I think this is related to a bug we fixed already, but hasn't made it out through the release pipeline yet. Can you contact me directly [smaillet - microsoft - com] so we can get details and business justifications for servicing down-level OS versions?

[2021-05-20 01:11] kaidokert commented on #87
Ping, the label here still says "Needs Author Feedback", but i'm not sure what other information could i provide.

[2021-05-20 19:39] randomascii opened #89 "wprui should compress ETW traces by default, or at least have a check box"
### Windows Build Number

 Win32NT             10.0.19042.0 Microsoft Windows NT 10.0.19042.0

### Processor Architecture

AMD64

### Memory

32 GiB

### Storage Type, free / capacity

SSD, 13.76 GB / 254.19 GB

### Relevant apps installed

Windows Performance Toolkit

### Traces collected via Feedback Hub

I can't record an ETW trace of me recording an ETW trace. Also I can't use Feedback Hub on

[2021-05-21 15:42] matheustavares commented on #87
Hi @kaidokert and @itoleck

This is a bit tangent to the actual issue, but: the next Git release (2.32.0) will come with the "parallel checkout" feature, which allows `git checkout`, `git clone`, and other checkout-related commands to parallelize the creation of files in the working tree.

I haven't tested it on WSL, but I'm getting around 2x speedup when cloning the linux repository with Git for

[2021-05-22 06:59] Kami586 commented on #12
Any news on this issue?

[2021-05-22 09:33] Poopooracoocoo commented on #12
no recent activity by microsoft
\- msftbot

[2021-05-24 13:06] JonFerraiolo commented on #25
Personally, I think it would be a mistake to implement this feature optimized for and constrained by one library/toolkit or a subset of libraries. I am old enough to remember when almost everyone used jQuery. So, my wish is that WinRT is available to any JavaScript with the requirements and constraints only due to Microsoft technologies. Then, leave it to the react native team to make whatever bri

[2021-05-25 07:07] AzAgarampur commented on #12
Hopefully we can see a fix by the time 21H2 rolls out, along with Sun Valley or something.

[2021-05-25 10:06] Poopooracoocoo commented on #12
lmfao good one.

[2021-05-27 03:45] AzAgarampur commented on #76
Quick follow up for anyone who's confused as to what exactly I'm referring to.

Fixing the background brush will prevent this from happening
![image](https://user-images.githubusercontent.com/42058942/119762747-219e6300-be63-11eb-9903-6dd53b8ba541.png)

As the file explorer controls haven't been created yet, the background brush shows all the way through. Not sure if there's a way to attach this i

[2021-05-30 18:03] lebb opened #90 "Compiling Java code on Windows is 30% slower than on Linux"
With WSL2 the performance is the same that on a native Linux box.

[2021-06-02 07:35] Marv51 opened #91 "Explorer Zip uncompress very slow"
### Isssue description

The zip uncompression in Windows Explorer is not very performant. Depending on the zip archive it is so painfully slow that it is unusable. It does not utilize modern multi-core CPU cores and does IO in incredibly inefficient ways.

This is a very known issue (https://twitter.com/BruceDawson0xB/status/1399931424585650180, https://devblogs.microsoft.com/oldnewthing/20180515-

[2021-06-02 07:43] Marv51 commented on #91
Unfortunately, 3rd party tools for ZIP-archives are quite a mixed bag. A high quality tool that is fast, secure, user-friendly and free does not seem to exist.

[2021-06-02 14:35] zspitzer commented on #91
see this thread, turns out the ancient code from 1998 isn't very efficient, it's reading one byte at a time

https://twitter.com/ericlaw/status/1399856554690715659

[2021-06-02 17:35] ericlaw1979 commented on #91
There are a number of core performance problems with the ZIP code. The one related to "Move" operations (mentioned just above), is more fully described here: https://textslashplain.com/2021/06/02/leaky-abstractions/

[2021-06-09 20:33] luchsamapparat opened #92 "A %temp% directory full of node_module garbage slows down the Windows User Profile service on logon"
### Windows Build Number

Microsoft Windows NT 10.0.19043.0

### Processor Architecture

AMD64

### Memory

31.8 GB

### Storage Type, free / capacity

804 / 952 GB

### Relevant apps installed

NodeJS v14.16.1

### Traces collected via Feedback Hub

Sorry, but I already spent enough time investigating this issue. See issue description

### Isssue description

Some npm package created 547,852 file

[2021-06-10 00:51] kaidokert commented on #87
It does seem like majority of the slowness here doesn't actually come from `file creation` but from `file deletion`, which of course happens a lot when switching branches.

[2021-06-12 23:52] ClosetBugSlayer commented on #54
[MediaFoundationLeakBug.zip](https://github.com/microsoft/Windows-Dev-Performance/files/6643030/MediaFoundationLeakBug.zip)

TADAAAAAA I attached a repro. I hope the comments in the .CPP file guide you through the repro successfully. Please reopen this bug and crush it mercilessly!

[2021-06-13 19:54] TechnikEmpire commented on #54
@ClosetBugSlayer nice, will run this. @bitcrazed

[2021-06-16 19:18] Fasteroid commented on #37
Having this problem again as of KB5003637 and KB4023057.

[2021-06-16 21:38] bitcrazed commented on #37
Hey @Fasteroid. Appreciate that you'd like this kept open, but shell UX issues like this are better handled by reporting via Feedback Hub along with a repro recording. I recommend adding to Bruce's FeedbackHub link, above. This way your report, and recorded traces etc. get sent directly to the team who owns the feature and is best positioned to be able to address the issue.

[2021-06-17 02:26] Eli-Black-Work commented on #37
@bitcrazed, Is there anywhere we can file a bug report for increasing the character limit of descriptions in Feedback Hub?

[2021-06-17 02:39] randomascii commented on #37
I would +1 that. Several times I have filed bugs here, been told to move them to Feedback Hub, and have then had to delete two thirds of the detail. It's pretty frustrating to be told to use Feedback Hub and then not be given enough space to describe any complex issues.

Which is to say, file a Feedback Hub issue against Feedback Hub and I will +1 it.

[2021-06-17 02:54] Eli-Black-Work commented on #37
@randomascii Haha, yes, actually I was thinking of this because of comments that I'd seen you make 🙂

My company blocks Feedback Hub, so I'm afraid I don't have any way to file feedback through that means.

[2021-06-17 03:03] randomascii commented on #37
Good news: somebody already filed a feedback request for allowing longer feedback requests - https://aka.ms/AA1vcsz
Bad news: you can't upvote it because your company (mine also) blocks Feedback Hub
Good news: I upvoted it from my personal machine - apparently a personal Windows machine is required now
Bad news: "We looked into this feedback in greater detail, and discovered that on average, the v

[2021-06-17 06:51] graememeyer commented on #37
It’s a pretty viciously dumb response as well because how could they know how many people have tried to submit longer feedback requests and either given up or had to cut out all the detail to make it fit.

- Graeme
________________________________
From: Bruce Dawson ***@***.***>
Sent: Thursday, June 17, 2021 4:03:42 AM
To: microsoft/Windows-Dev-Performance ***@***.***>
Cc: Graeme Meyer ***@***.***

[2021-06-17 16:32] AvriMSFT commented on #89
Hey Bruce! Thanks for the feedback! As someone who works with traces daily, I'm _very_ familiar with the issue :). I'll look into who owns wprui and share your feedback them. I'll then report back with any updates.

[2021-06-17 16:35] AvriMSFT commented on #90
Hey @lebb could you please fill in the issue template in its entirety and collect traces of the scenario you're referring to? That would be extremely helpful in making sure we 1.understand the issue, 2.can repro the issue, and 3. can follow up with the right folks to find a solution 😊

[2021-06-18 03:56] Poopooracoocoo commented on #37
excuse me??

i aint buyin that sht. y'all just closing the big issues so y'all don't have to fix them smh.

I was happy to see a response by Microsoft on these kinds of issues and you close it saying it belongs in **the void**. You completely missed when I said this:

Why do you effing think people started making issues in this repo? 🤦🏿‍♂️

good luck with windows 11 😂😂😂

[2021-06-18 05:26] Eli-Black-Work opened #93 "Need alternate way to access Feedback Hub"
### Windows Build Number

N/A

### Processor Architecture

N/A

### Memory

N/A

### Storage Type, free / capacity

N/A

### Relevant apps installed

Not Feedback Hub 😢

### Traces collected via Feedback Hub

N/A

### Isssue description

It seems that many people at larger corporations are unable to report bugs via Feedback Hub because Feedback Hub is blocked on their company-issued computer. This

[2021-06-18 05:28] Eli-Black-Work commented on #37
@randomascii, I've filed https://github.com/microsoft/Windows-Dev-Performance/issues/93 to discuss the issue of Feedback Hub being blocked on machines at larger corporations 🙂

[2021-06-18 06:22] asklar commented on #93
hey @Bosch-Eli-Black,
to quote from the repo's readme:
`
The purpose of this repo is to collect and catalog issues that affect / impact the inner loop of developers who work on Windows. The developer inner loop would include areas such as compile, run, build, test, debug, and commit.
`

It sounds like you are advocating for a separate feedback mechanism for people whose work machines don't allow r

[2021-06-18 06:27] Eli-Black-Work commented on #93
Thanks, @asklar 🙂

The irony is that I can't file this via Feedback Hub, because I don't have access to Feedback Hub 😄

[2021-06-18 10:55] asklar commented on #87
Hey @kaidokert  I didn't see this called out in the template but do you have a Windows Defender exclusion enabled for this folder? It would be interesting to see how the cloning timing might vary with defender out of the picture.

[2021-06-23 02:01] ghost commented on #90
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-23 02:01] ghost commented on #87
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-23 02:01] ghost commented on #70
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-23 02:01] ghost commented on #68
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-23 02:01] ghost commented on #42
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-23 02:28] Eli-Black-Work commented on #42
@timheuer, What do you see when you run `powercfg /waketimers` from an elevated command prompt?

[2021-06-23 02:32] Eli-Black-Work commented on #87
@asklar Does Windows Defender normally examine files when they're being permanently deleted? Just curious; not too familiar with how antivirus works under the hood 🙂

[2021-06-23 02:33] Eli-Black-Work commented on #70
Has anyone reported this to Feedback Hub?

[2021-06-23 02:33] asklar commented on #87
I don't work on Defender so I don't know for sure, but I wouldn't be surprised 🤷 :)

[2021-06-23 02:48] Eli-Black-Work commented on #87
@asklar Haha, okay, thanks 😄

[2021-06-23 20:18] AvriMSFT commented on #89
Good news! Thanks to your persistence (it sounds like you've reported this issue before😋) the feature request has been added to the backlog🎉. I am waiting to hear more on the details / ETA. More good news - The command line version of WPR (wpr.exe) will support the -compress flag during save soon, which will solve part of your request.

[2021-06-23 20:33] randomascii commented on #89
That's great news.

[2021-06-25 19:01] bitcrazed commented on #12
Update: Can no longer repro this issue on the current in-market version of Windows 20H1.

Also note that this is not an issue specifically impacting developers' productivity on Windows, and so am closing the issue. If you can still repro this issue on the current version of Windows, please report via Feedback Hub (inc. repro recording) so that the owners of this feature can receive your feedback (

[2021-06-25 19:04] adrianghc commented on #12
I can also not reproduce this anymore. This is very surprising, I would have expected this to remain broken until Windows 11. Glad to finally see this fixed. :)

[2021-06-25 19:07] AzAgarampur commented on #12
Still happens for me, just guess I'll have to wait for Windows 11

[2021-06-25 19:10] adrianghc commented on #12
Are you on the latest cumulative update of 20H1/20H2/21H1?

[2021-06-25 19:13] AzAgarampur commented on #12
My fault, I still have KB5003690 installing on my 21H1 -- I'll strikethrough that comment if it works after the update.

Edit: Nope, still broken.

[2021-06-25 19:13] zakutin commented on #12
21H1, Version 10.0.19043 Build 19043

https://user-images.githubusercontent.com/53969222/123474396-2db04880-d5fa-11eb-9eaa-f0e97139d856.mp4

[2021-06-25 19:19] adrianghc commented on #12
Correction: It still happens, but only when at least one UWP app is open and not always. So better than before, but still not quite fixed.

Correction 2: I just got it to happen even without a UWP app open.😑 I don't think I'm going to bother with Feedback Hub at this point. I hope it's fixed in Windows 11.

[2021-06-25 19:22] AzAgarampur commented on #12
From what I've heard it is fixed in Windows 11

Edit: Nvmd with the latest technical preview build of W11 it's still broken (it's way worse than it is on W10 actually)

[2021-06-26 07:01] #90 closed, assigned to nobody

[2021-06-26 07:01] #68 closed, assigned to AvriMSFT

[2021-06-26 22:47] kaidokert commented on #87
I have Defender turned off for the entire drive, yes.

[2021-06-27 08:01] ghost commented on #70
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-27 08:01] ghost commented on #42
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-30 02:18] bitcrazed commented on #93
Thanks for filing the ask but while we understand your point, this is not the right place to file this issue. I suggest talking with your enterprise admins who have blocked access to FBHub on their managed machines - perhaps they can give some of you access to FBHub?

[2021-06-30 02:18] #93 closed, assigned to nobody

[2021-06-30 08:21] Eli-Black-Work commented on #93
Ya, sorry, guess I was kind of dragging my heels on this one 😛

I've filed something on FBHub via my home computer: https://aka.ms/AAd2r8l

[2021-06-30 13:01] #70 closed, assigned to AvriMSFT

[2021-06-30 13:01] #42 closed, assigned to AvriMSFT

[2021-07-31 12:35] batzen opened #94 "Search in Explorer is slow"
### Windows Build Number

10.0.19043.0

### Processor Architecture

AMD64

### Memory

32GB

### Storage Type, free / capacity

NVME SSD, 410 GB, 930 GB

### Relevant apps installed

Windows 10

### Traces collected via Feedback Hub

None.

### Isssue description

Searching in Explorer is really slow.
Even searching in folder structures with relatively few files takes very long.

### Steps to repr

[2021-08-03 07:50] happybear88 opened #95 ".NET Framework Cumulative Update Previews install automatically every month on non-insider builds"
### Windows Build Number

 10.0.19043.0 (21H1)

### Processor Architecture

AMD64

### Memory

16GB

### Storage Type, free / capacity

SSD 256GB

### Relevant apps installed

Not applicable

### Traces collected via Feedback Hub

https://aka.ms/AAdbnia (but there are no traces, they are not really applicable)

### Isssue description

.NET Framework Cumulative Update Previews install automatically

[2021-08-06 09:00] crediblebytes commented on #21
This should have way more traction. It takes more time to delete the folder than it does to run npm install, pull down all the packages and install them! Is this because all the files are not stored contiguously?

[2021-08-07 09:01] driver1998 commented on #12
Looks like it is fixed on Windows 11 (the glass frames are all gone in Aero Peek now, but still light years better than things randomly shift around).
Closing this issue now.

[2021-08-07 09:01] #12 closed, assigned to nobody

[2021-08-07 23:48] zakutin commented on #12
Why closing this issue? It is still not fixed on Windows 10, which will be active until 2025.

[2021-08-07 23:54] adrianghc commented on #12
I think "active" may turn out to be an overstatement there. In any case, I think we know this won't ever see a fix in Windows 10, all things considered - they never bothered to do so after several years, they certainly won't do it when there is a shiny new replacement to focus on and even less when that replacement already fixes this bug. Might as well get it over with and close this issue + move

[2021-08-07 23:56] AzAgarampur commented on #12
On Win11 they killed aero peek, if you try to invoke aero peek by hovering over a taskbar preview (like here: https://github.com/microsoft/Windows-Dev-Performance/issues/12#issuecomment-868778803) you will see that they just hide all the other windows, no silhouettes at all.

[2021-08-07 23:58] adrianghc commented on #12
Well, that doesn't change my point at all.

[2021-08-08 00:26] Kami586 commented on #12
They maybe never see this as an issue. Otherwise, it would not exist as early as v1803...

[2021-08-11 06:14] nathantaal commented on #21
Plus one for this issue

[2021-08-12 14:52] ewancoder opened #96 "Alt+tab issue when in full-screen app"
Hi, I'm using taskbar on top instead of on the bottom and I have the following issue on multiple different machines since I reinstalled and updated Windows 10 to the latest version couple days ago (previously I didn't have it so it most likely came with the latest version, currently I have 21H1 19043.1165 version).

The issue itself reproduces when taskbar is pinned to the top or to the side, it w

[2021-08-12 15:01] ewancoder commented on #96
It doesn't work on *main* monitor whenever taskbar with *tray* is locked into it.

[2021-08-12 15:08] ewancoder commented on #96
I managed to fix it. I noticed that the new weather applet appeared in taskbar with the new version of windows. I also noticed that it disappears when you move taskbar to the top or to any sides. So I tried turning it off, and it fixed the problem.

![image](https://user-images.githubusercontent.com/5541739/129221230-2868eace-52ef-4d2e-8fb1-26f0f76941c8.png)

[2021-08-16 23:49] mswezey23 commented on #21
Been experiencing this issue for years now. As much as I love slingin code on Windows, this kills it for me...

[2021-08-17 01:19] ohhayitskayl commented on #64
Any updates on when this will be out?

[2021-08-17 22:20] robertkraig commented on #21
This is not just an issue with windows. I use a macbook pro 2015 w/ 16gb of ram. Also takes forever to delete a node_modules folder. I believe my experience was significantly faster on linux than either macos or windows. But macos ssd is not nearly as fast as you'd expect.

[2021-08-18 18:07] mswezey23 commented on #21
I daily a MacBook Pro (2019, and now a 2020) and never had any issues with `node_modules`. Granted mine isn't 2015.

I also, for a brief period, had a previous gen Mac Mini that I upgraded its spinning rust to a (still on sata) SSD. Still magnitudes faster than a current day Windows machine running on a pcie (nvme) SSD attempting to delete a `node_modules` folder.

[2021-08-19 17:20] bitcrazed commented on #54
Thanks for sharing the repro case @ClosetBugSlayer  - re-opening while we take a look. I and a bunch of people are OOF on vacation at the moment, so there may be a delay in replying, but we are looking. Stay tuned.

[2021-08-24 08:10] myokeeh opened #97 "Can't Pinpoint What to do with Error PR175 with Visual Studio"
### Windows Build Number

19042, 19043, 19044

### Processor Architecture

x64, ARM64

### Memory

8-64GB (N/A)

### Storage Type, free / capacity

1TB (N/A)

### Relevant apps installed

Visual Studio

### Traces collected via Feedback Hub

N/A

### Isssue description

There's some kind of conflict with resources or resource names in packages/dependencies that cause a UWP app to have PRI175 error

[2021-09-08 03:34] schmorrison commented on #21
In my case occasionally I need to delete node_modules to reinstall all packages. Instead of deleting node_modules directly I do the following:

[code]
And from the VSCode/File Explorer I ```Delete < node_modules.del```

This way the packages can install under node_modules while node_modules.del is deleted. The deletion process is not quicker, but the reinstall can take place simultaneously. VSCode

[2021-09-10 17:40] bitcrazed commented on #54
Hey @ClosetBugSlayer & others on this thread: Summarizing some feedback from the team:

The handle leak is due to a subtle API usage bug. In both samples `Shutdown()` is not being called on the media source created by the source resolver.

[The documentation clearly states](https://docs.microsoft.com/en-us/windows/win32/api/mfidl/nf-mfidl-imfmediasource-shutdown) that it’s the application’s respon

[2021-09-23 18:41] 1mike12 commented on #21
I have nothing to add other than this has been something that's bothered me for so long but I've only just started to consciously look into it since working on a large project with a larger node_modules than before. `rm -rf` ing on a crappier macbook 3 years older should not be an order of magnitude faster than on windows.

[2021-09-27 23:12] last-Programmer commented on #17
I am also facing this issue. Our gulp task cold build takes 90 second in Mac and ubuntu. But in windows it takes 120 seconds.

[2021-09-28 16:53] #96 closed, assigned to nobody

[2021-09-28 16:56] AvriMSFT commented on #97
Hey @myokeeh ! Sorry to hear about this issue. I'm reaching out to the folks at VS to see if they have a solution.

[2021-09-28 17:02] AvriMSFT commented on #94
@batzen thanks for reporting your issue! I've reached out to the necessary folks who work on Search and Explorer here. I'll be sure to ping this thread with any updates.

[2021-09-28 17:07] AvriMSFT commented on #87
Update: The filesystem and performance teams are working on some major improvements to git which we think will directly impact your issue. Once fixes are in, I'll update the thread :).

[2021-09-28 17:11] AvriMSFT commented on #92
Thanks for reporting the issue!
This is quite an interesting bug. Good news though- The filesystem and performance teams are investigating issues related to npm. I'll share this issue with the team and update the thread with any news.

[2021-09-28 17:15] AvriMSFT commented on #81
I've alerted the team of your issue. It shouldn't get discarded. Thanks for reporting Bruce!

[2021-09-28 17:15] #81 closed, assigned to nobody

[2021-09-28 17:48] AvriMSFT commented on #69
@smaillet-ms Sounds like this conversation was taken offline. Any updates to report here?

[2021-10-01 17:23] HelderMagalhaes commented on #55
Caught by this unexpected/undocumented behavior apparently introduced in Windows Server 2016 (I'm on Windows Server 2019):
* Already using `<Priority>5</Priority>` to overcome the _Below Normal_  (`<Priority>7</Priority>`) assigned by default
* Noticed the unexpected _Below Normal_ memory priority (using [Process Hacker](https://processhacker.sourceforge.io/), where it's labelled _Page priority_)

[2021-10-01 17:46] randomascii commented on #55
The bug (well, some form of it at least) dates back far before Windows Server 2016. I first saw it in 2009 when working on Internet Explorer at Microsoft. We were experimenting with updating IE without restarting the computer, and that required restarting explorer. Explorer would start with low memory priority, so would anything that was launched from explorer, and pretty soon Visual Studio's work

[2021-10-05 02:27] lzlrd commented on #91
I would say libarchive fits the job. It has already part of Windows since https://techcommunity.microsoft.com/t5/containers/tar-and-curl-come-to-windows/ba-p/382409.

[2021-10-07 00:32] k1w1m8 commented on #91
See also https://github.com/microsoft/Windows-Dev-Performance/issues/27

This ticket has good sample zip file to work with.

https://github.com/microsoft/Windows-Dev-Performance/issues/27#issuecomment-670613369

My personal experience is my work Dell Precision laptop with SSD, unzipping a 50MB file with 25k files inside:

* Windows (with lots of IT installed security agents) installed takes 12m.
*

[2021-10-07 01:28] rickbrew commented on #91
I doubt BitLocker is affecting performance to that degree -- on modern CPUs (iirc Haswell+, aka Intel Core 4th gen) the perf hit should be <1% since the encryption can use specialized CPU instructions (I think I read this on Anandtech somewhere). On less-than-modern CPUs, I'd guess 5 or maybe 10% at worst. Definitely not two orders of magnitude!

[2021-10-07 02:08] k1w1m8 commented on #91
I tried unzipping the #27 flutter zip above, took around 20m.

Inside linux VM on same laptop, a few seconds.

These kinds of basic slowdowns are the most valuable and most like the hardest to fix in Windows.

[2021-10-10 23:39] saschanaz opened #98 ""Must define a target architecture" issue from winnt.h when included by `.rc` files"
When building Firefox with the new Windows 11 SDK:

[code]

Here, the `module.rc` is autogenerated and looks like this: https://searchfox.org/mozilla-central/rev/7e36862b61622889b28492d60564dbab1e6d8bbf/config/create_rc.py

And the error is from `SYSTEM_CACHE_ALIGNMENT_SIZE` definition:

[code]

Looking at winnt.h, I found this comment:

[code]

I guess `SYSTEM_CACHE_ALIGNMENT_SIZE` should get the

[2021-10-14 18:10] sfiruch opened #99 "Consistent CPU performance for benchmarking"
## The Request
I regularly want to benchmark my code, to see the performance impact of recent changes. This is becoming more and more difficult these days, because of energy-saving measures, dynamic overclocking (Base+Boost), thermal throttling, and different profiels for plugged-in vs. not-plugged-in states. On my device (Surface Pro), there does not seem to be way to control all these factors in

[2021-10-14 18:19] sylveon commented on #99
I don't think this is particularly feasible, especially in mobile devices like yours where the CPU is locked, so it's impossible to do any kind of tweaking to the clock rate or other factors (for example, using Intel XTU to set a fixed clock rate won't work on your Surface)

[2021-10-17 06:19] myokeeh commented on #97
@AvriMSFT, here's another similar scenario: https://github.com/microsoft/WindowsAppSDK/discussions/1497#discussioncomment-1479024

[2021-10-19 23:19] k1w1m8 commented on #91
Well, this not 100% related to Windows ZIp but I thought I'd post this here for others that might have a similar issue.

I got our IT department to temporarily disable BeyondTrust, as Avecto Dependpoint Service (defendpointservice.exe) was consuming a large amount of CPU during unzip and particularly delete and copy operations.

The difference was dramatic on my dell precision laptop with 2TB ssd.

[2021-10-22 07:12] sfiruch commented on #99
Allowing detection of (thermal) throttling would be a useful first step. Quoting [Bruce Dawson on Twitter](https://twitter.com/BruceDawson0xB/status/1451306440283414528):

[2021-10-25 22:24] dmachaj commented on #99
You might be able to lock your CPU frequency at a value far enough below the maximum that it will avoid throttling.  The following commands should keep your CPU at 85%.

[https://docs.microsoft.com/en-us/windows-server/administration/performance-tuning/hardware/power/power-performance-tuning#minimum-and-maximum-processor-performance-state](https://docs.microsoft.com/en-us/windows-server/administra

[2021-10-27 06:28] ghost commented on #91
Yikes. I always avoided doing any IO heavy tasks under the shell for reasons like this. It would be nice to see this overhauled, perhaps with support for some modern compression algorithms such as zstd. Time for @PlummersSoftwareLLC to come out of retirement.

[2021-10-27 20:06] randomascii opened #100 "PROCESSOR_POWER_INFORMATION.CurrentMhz no longer shows CurrentMhz"
### Windows Build Number

Win32NT             10.0.19043.0 Microsoft Windows NT 10.0.19043.0

### Processor Architecture

AMD64

### Memory

32 GB

### Storage Type, free / capacity

C: SSD 325 GB / 2049 GB

### Relevant apps installed

UIforETW

### Traces collected via Feedback Hub

n/a

### Isssue description

A few years ago PROCESSOR_POWER_INFORMATION.CurrentMhz could be used to tell what fre

[2021-10-29 12:08] theolivenbaum commented on #80
Any updates on this @ChrisGuzak?

[2021-10-29 20:05] randomascii commented on #100
This appears to have changed in build 21H1 (19043) because on my 20H2 (19042) machine CurrentMHz fluctuates according to load as it used to, but on my 21H1 machine it stays locked at the same value as MaxMhz.

[2021-10-29 20:43] randomascii commented on #100
Update: the behavior in Windows 11 is the same as in build 19043. That is, the most recent version of Windows 10 and also Windows 11 never change the value returned for CurrentMhz, making detection of thermal throttling much more difficult.

[2021-10-30 00:51] randomascii commented on #100
Further thoughts:

1) If CurrentMhz is no longer supported then the documentation should be updated to acknowledge this.
2) My reason for wanting CurrentMhz was so that I could compare it to the actual CPU frequency in order to detect thermal throttling. If this very useful technique (which I've used for 8+ years on several investigations) is no longer going to work then it becomes all the more im

[2021-10-30 04:15] ChrisOfTheLewi commented on #100
I saw this pop up in my email and while I can't comment on the originally reported problem, I did want to say that you can get the CPU frequency from ETW traces.  I don't recall the specific provider off the top of my head (it's included with the CPU and GeneralProfile profiles running last I checked), but you can see it under CPU Frequencies in WPA (which shows up under Other and is documented he

[2021-10-31 07:53] batzen commented on #94
Just leaving this here:
![tools_vs_explorer_full_an](https://user-images.githubusercontent.com/1971030/139573579-f9df6015-cdc1-4333-beb7-63b683af3e01.gif)

[2021-11-01 02:50] Eli-Black-Work commented on #94
@batzen By the way, I recently upgraded my home computer to Windows 11, and it feels like the Windows Search feature in Windows 11 may have had some upgrades. Obviously it would be nice if searching in Windows 10 was performant, too, but I wonder if Microsoft will be mostly focusing on improving performance in Windows 11, going forward.

[2021-11-01 11:44] henrikand commented on #100
I work on Chrome and would also very much appreciate if the original support in Windows was restored to enable me to use user-mode (public and documented) APIs and track when throttling happens. There is support on macOS to track the `CPU_Speed_Limit` metric described in https://discussions.apple.com/thread/252039204 and it would be great if we could match this on Windows.

[2021-11-05 20:00] bitcrazed commented on #87
@itoleck re. https://github.com/microsoft/Windows-Dev-Performance/issues/87#issuecomment-828676597

Note that running `git` in WSL to clone repo into Windows filesystem has known perf issues. Running git in WSL to clone a repo from one Windows' folder into another Windows folder will likely double the negative overhead and is a worst-case scenario.

If you're in Linux/WSL, clone repos locally in t

[2021-11-09 19:03] justanotheranonymoususer commented on #74
Hey there @CHorvath12, any progress regarding the inconsistencies?
Also, today I saw a new problem, this time regarding KB5007206.
It's listed under Windows 10 1607, but it seems like a mistake. Please confirm.
Link: https://support.microsoft.com/en-us/topic/windows-10-and-windows-server-2016-update-history-4acfbc84-a290-1b54-536a-1c0430e9f3fd

![image](https://user-images.githubusercontent.com/57

[2021-11-19 01:42] CHorvath12 commented on #74
Thank you for reaching back out. I reached out about the KB5007206 issue you noted above. The team was aware of the issue and the files have been updated and republished. We will continue to improve the quality of data published to both sites and make updates as needed. We have assessed your previous feedback and in reviewing the usage patterns of this older content we have found it is not substan

[2021-12-01 17:55] randomascii opened #101 "Throttling detection needed in Windows"
### Windows Build Number

 Win32NT             10.0.19042.0 Microsoft Windows NT 10.0.19042.0

### Processor Architecture

AMD64

### Memory

32 GB

### Storage Type, free / capacity

C: SSD 44/254 GB

### Relevant apps installed

Windows Performance Toolkit

### Traces collected via Feedback Hub

Sorry, no traces.

### Isssue description

Some computers, especially but not exclusively laptops, ma

[2021-12-01 17:56] randomascii commented on #100
It sounds like CurrentMhz is not going to be coming back, due to changes in how the CPU and OS coordinate to choose CPU frequencies.

However the underlying issue of needing a way to detect thermal throttling remains. In order to focus on that underlying issue I filed a separate github issue at https://github.com/microsoft/Windows-Dev-Performance/issues/101

This one can probably be closed.

[2021-12-08 10:08] edmunds22 commented on #17
Yeah, in my experience windows is rubbish for node development. Either its slow, or the node-gyp issues which are just painful.

[2021-12-08 10:12] last-Programmer commented on #17
In apple m1 max it is even better it only takes 68 seconds. this project is react with 16000 ts/tsx files.

[2021-12-08 11:35] zakius commented on #75
seem to be a recurring topic for multiple tools

[2021-12-08 11:57] zakius commented on #91
I'd say the zip tools need a proper overhaul, not only performance fixes, as the UX alone is bad enough to make me install 3p tools, absolute minimum would be 7-zip context menu equivalent, adding *smart compression* that skips compression of files that doesn't reduce size enough and double-click-to-extract (with option to enable removal of source file when done) would be another step

And I absol

[2021-12-08 13:42] ghost commented on #91
God no. The current implementation is already problematic in enough ways. Making compression inherently slower by forcing an additional large section read after throwing out CPU time on a deflation operation, just because the result didn't match an arbitrary (probably hard-coded 'sane') compression ratio, deployed across the most potato spinning disks, Intel Shitrons, and the likes, just to save a

[2021-12-08 14:50] zakius commented on #91
regarding data I performed quick and dirty experiment using Bandizip to compress my downloads folder (4 946 928KB) containing mostly poorly compressible files (installers, videos and so on) with as they call it *High speed archiving* active and not, using Deflate  setting maximum available compression (except for the *HSA* switch)

- Deflate with HSA: 0:26, 4 577 983KB
- Deflate w/o HSA:  0:21, 4

[2021-12-08 15:10] ghost commented on #91
The problem I see with this is that, the detection requires you to run the deflate algorithm anyway. One could probably buffer the raw streams to solve the double read issue; however, you're still stuck with this problem of "detection." The only non-hack way to do solve this would be to accept the CPU overhead of compressing once & buffer the output + changes to the compression dictionary before c

[2021-12-08 15:36] rickbrew commented on #99
Even on a desktop (Ryzen 5950X), its performance is temperature sensitive. In order to benchmark my app's startup performance, I have to close/kill/suspend _anything_ else that's running, turn the CPU fans to max, and open the window (even in winter). Those background processes that sip teeny tiny bits of CPU can cause gross fluctuations in the timings for startup performance measurements.

[2021-12-08 16:02] zakius commented on #91
zip container, despite all shortcomings, is used for *basically everything* nowadays and is the go to container format for anyone intending to create *their own container*

but as there already exists a decent MT capable algorithm and container it would be nice to have support for it too

[2021-12-14 19:32] justanotheranonymoususer commented on #74
Hi again @CHorvath12,

Thanks.

Too bad that having a high quality documentation is not substantial for you, but thank you for trying Corrine.

I tried, but unfortunately it didn't work for me.

I did a couple of times, got no response back and saw no changes regarding my reports.

I tried that too, I was sent back to the feedback section.

I can't use it since I don't use my Windows with a Micros

[2021-12-21 10:19] ghost commented on #64
a year later, any update?

[2022-01-02 19:46] randomascii opened #102 "Symbol server PE files are being overwritten with different versions"
### Windows Build Number

Win32NT 10.0.22000.0 Microsoft Windows NT 10.0.22000.0

### Processor Architecture

AMD64

### Memory

16 GB

### Storage Type, free / capacity

SSD 160GB/350GB

### Relevant apps installed

windbg, Chrome

### Traces collected via Feedback Hub

Sorry, no feedback hub traces

### Isssue description

Different versions of kernel32.dll are being published to Microsoft's sym

[2022-01-02 19:47] randomascii commented on #102
I've put the relevant files (three copies of kernel32.dll and a crash dump that will happily refer to any one of them) in this shared Google drive folder:
https://drive.google.com/drive/folders/1EUGs6iNqNXvWb98KMYcSBbXzIXUWGoWw

[2022-01-04 21:48] mattwojo commented on #74
Thanks for bringing this to our attention @justanotheranonymoususer! We were able to identify the issue regarding the KB5008212 update for Windows 10 version 2004 and it should now be updated with the correct info.

Thanks again for raising this awareness.

[2022-01-06 00:55] AzAgarampur opened #103 "WinDbg's `dU` command is painfully slow"
### Windows Build Number

10.0.19044.0

### Processor Architecture

AMD64

### Memory

8GB

### Storage Type, free / capacity

C: SSD 256 GB

### Relevant apps installed

WinDbg Preview (Window Store Version)

### Traces collected via Feedback Hub

n/a

### Isssue description

Using the dU command is very slow. It sometimes takes up to a full minute to display a Unicode string. For example, if you

[2022-01-06 19:14] justanotheranonymoususer commented on #103
Have you tried `dU @rcx`? `dU <address>` directly?

[2022-01-06 20:19] zooba commented on #102
Thanks, I'm seeing if I can chase down someone who may know what's going on here. This seems bad, though there may be a legitimate reason for it.

I assume you've got the latest windbg available?

[2022-01-06 21:13] randomascii commented on #102
Yeah, I tried this with the latest windbg, but it won't matter because it's the timestamp/image-size/name triplet reuse that is the problem. I can reproduce the issue using RetrieveSymbols.exe (https://github.com/google/UIforETW/blob/main/bin/RetrieveSymbols.exe) but also I can see that I have three different files with the same timestamp/image-size/name triplet, and once that is true there is not

[2022-01-06 21:30] randomascii commented on #102
This has been reported as a problem in the past, such as here, where it causes (understandably) developer confusion:

https://github.com/m417z/winbindex/issues/139

[2022-01-07 01:58] AzAgarampur commented on #103
Tested it; those commands work quickly.

[2022-01-07 08:16] justanotheranonymoususer commented on #103
There's your problem. WinDbg treats `rcx` as a symbol and tries to resolve it, which takes a while. Always prepend with `@` when referring to registers.

[2022-01-07 19:41] AzAgarampur commented on #103
Sounds like a good explanation; thanks

[2022-01-07 19:41] #103 closed, assigned to nobody

[2022-01-10 11:22] Alois-xx commented on #64
When is this fixed? I have several incidents of this issue seen in the field and even one repro. When will this be backmerged to all still supported OS editions?

[2022-01-13 19:28] AvriMSFT commented on #64
Hey folks! I just pinged the team for an update on this. Thanks for your patience and I'll post here as soon as I hear back.

[2022-01-17 00:23] barnson opened #104 "Merge module validation in Orca fails on well-formed merge module"
### Windows Build Number

Win32NT 10.0.19042.0 Microsoft Windows NT 10.0.19042.0

### Processor Architecture

AMD64

### Memory

64GB

### Storage Type, free / capacity

C: NVMe 35GB/127GB; X: NVMe 282GB/284GB; Z: 377GB/599GB

### Relevant apps installed

WiX v3.14.5721.0

### Traces collected via Feedback Hub

n/a

### Isssue description

The merge-module validation module mergemod.cub in Orca v5

[2022-01-31 17:24] Donpedro13 opened #106 "NT heap scales horrendously in some cases"
### Windows Build Number

Win32NT 10.0.22000.0 Microsoft Windows NT 10.0.22000.0

### Processor Architecture

AMD64

### Memory

64 GB

### Storage Type, free / capacity

SSD 80/512 GB

### Relevant apps installed

-

### Traces collected via Feedback Hub

We collected profile traces with both Visual Studio and VTune, we can provide these via a private channel, if needed.

### Isssue description

[2022-02-01 17:41] AvriMSFT commented on #64
Hey folks! It looks like this issue should have been fixed in Windows 11. If running Win11 and still experiencing the issue please comment and I can give these data points to the team.

[2022-02-01 20:10] thatsofia commented on #64
pov: your device doesn't support windows 11 with its high requirements

[2022-02-02 06:47] Alois-xx commented on #64
So Windows Server 2022 should also not exhibit the issue? Is there a Ticket Id I could reference for a backport to Server 2016? Any chances there or was this part of a complete rewrite of the Storage Subsystem like it did happen for Memory Management or the UI Subsystem?

[2022-02-02 20:32] chrisribe commented on #21
Funny how and small project like https://fastcopy.jp/ can do it better than what windows can....
Especially on shift + delete, you would expect the same speed uggh :(

[2022-02-28 11:52] andreujuanc commented on #17
I stopped working directly on windows FS and moved all my code to WSL2 with dev containers. I know not all workflows will fit this, but this is much better than doing `npm i` natively, for example `rm -rf` . Whatever emulation overhead you get it's more than balance by the sheer speed of the Linux filesystem.
The biggest plus is that you still get to use Windows, and all the goodies that come with

[2022-03-07 14:31] Khalilolgod commented on #21
try  `rm -Recurse -Force .\node_modules\` in powershell inside the project directory.

[2022-03-10 20:40] AvriMSFT commented on #106
Hey! Thanks for reporting and giving such detailed descriptions of the issue🙂. I'm working on routing this issue to the right team and will report back soon.

[2022-03-10 20:52] AvriMSFT commented on #102
Hey @zooba! Any updates here?

[2022-03-11 16:54] AvriMSFT commented on #101
Hey @randomascii thanks for submitting this issue and apologies for the delayed response! I've reached out to some folks on the issue and will get back to you with updates once I have them. Thanks for your patience!

[2022-03-11 16:59] AvriMSFT commented on #100
Thanks Bruce for following up. I'll close this issue and add updates to #101

[2022-03-11 16:59] #100 closed, assigned to nobody

[2022-03-11 17:06] AvriMSFT commented on #99
@deiruch thanks for reporting this issue and apologies for the delayed response. Your idea of the mode being "enabled automatically by my IDE of choice when running certain projects. Or an API would probably be used by libraries like BenchmarkDotNet" makes a ton of sense. There is a team here just spinning up that's focused on developing performance testing tooling for your applications, and this

[2022-03-11 17:32] AvriMSFT commented on #95
Hey @happybear88 thank you so much for reporting the issue and I apologize for the delayed response. Wanted to hop on the thread to let you know that I've reached out to the .NET team and will report back with more soon. Again, very sorry for the delay!

[2022-03-11 17:39] AvriMSFT commented on #94
hey @batzen wanted to check back in on this thread here. Have you upgraded to Win11? If so, would love to hear about your experience with Search and File Explorer there. If not, are you still hitting this issue in Win 10?  Thanks!

[2022-03-12 00:00] Lxiamail commented on #95
Hi @happybear88 Thank you for reporting the issue. I'm from .NET Framework team. The issue has been routed to our team.
It is a known issue. It is because that .NET patch is in a windows legacy patch management system. It is on our roadmap to fix this by migrating to new patch management system. However, it is not a trivial fix, instead, it is a rather large project involving multiple teams. We ne

[2022-03-12 08:14] batzen commented on #94
@AvriMSFT I am on Win11 (22000.556).
Performance of explorer search did improve, but it's still unacceptable slow and it didn't crash at the end of the search.

I searched for "spy*.exe" again.
It took 5 Minutes to find 1 of 2 matches, even though both matches are in the same folder, it took another 2 1/2 Minutes to find the second one.
So the total search time was 7 1/2 Minutes.
That's quite an i

[2022-03-12 09:08] happybear88 commented on #95
Hi @AvriMSFT and @Lxiamail. Thanks for getting back with me 6+ months later. Speedy turnaround! Likewise, the .NET team announced the preview delivery over 3 years ago. It may be a non-trivial fix and a large project, but it's fairly obvious that Microsoft cares less about the issue.

[2022-03-12 09:08] #95 closed, assigned to AvriMSFT

[2022-03-15 15:31] AvriMSFT commented on #94
Thanks @batzen! I've sent this off to the search team. They're aware of the issue and are investigating. Will report back with any updates as they come in 🙂.

[2022-04-22 13:11] zackpi commented on #21
4min 30sec - "Shift+Delete" aka "Permanently Delete"
45sec - "rm -Recurse -Force .\node_modules\"
**16sec - "rimraf .\node_modules\"**

An added benefit is that rimraf is cross-platform 😃

For comparison, I also have an M1 macbook, and running "rm -rf .\node_modules\" takes about 15sec, so likely this is as good as it'll get

[2022-04-27 18:22] j471n commented on #21
Use `rmdir node_modules` in Powershell inside the project directory.

[2022-04-29 18:37] paddelboot commented on #91
It is kind of hilarious when I have to wait ~10 mins. to extract a specific folder from a 1GB zip file. The explorer Window shows transfer rates of a few KB/s. On a 6 core laptop with NVMe.

[2022-04-29 23:09] rickbrew commented on #91
It's also kind of ridiculous that numerous folks at Microsoft know about this, they also talk and complain about it on Twitter, and yet none of them has just gone in and fixed it.

Even changing the `ReadFile` calls to operate on more than 1 byte at a time or use any form of user-space caching (re: the comment above, https://github.com/microsoft/Windows-Dev-Performance/issues/91#issuecomment-85308

[2022-06-03 23:53] jahidhassan2424 commented on #21
just delete the node_modules folder then copy it. Copying process will be completed in a dew second. Then in the new location simply run "npm i". Note: you wont loosew any folder in node_modules. All of your dependencies will be downloaded with the command "npm i""

Second Option you can try: create zip file of that folder containing node_modules then copy it. But option 1 is more efficient.

[2022-06-16 13:25] FrancisKing3 opened #107 "Set up your dev environment on Windows for Rust"
This is an excellent document, but doesn't really explain about launch.json.

You have to create this by changing the opened folder to be your project. Starting debugging creates a launch.json file, as does Run - Add Configuration. Both use the Cargo.toml file to build the launch.json file. The document does it differently, but equivalently, requiring you to cd to the project, and then run Visual

[2022-06-19 18:01] no-j opened #108 "PrefetchVirtualMemory does not prefetch virtual memory (windows api bug)"
### Windows Build Number

10.0.19044.0

### Processor Architecture

AMD64

### Memory

16GB

### Storage Type, free / capacity

SSD 512GB

### Relevant apps installed

Windows

### Traces collected via Feedback Hub

N/A

### Isssue description

I tested [PrefetchVirtualMemory](https://docs.microsoft.com/en-us/windows/win32/api/memoryapi/nf-memoryapi-prefetchvirtualmemory) to minimize page faults w

[2022-06-22 07:13] no-j commented on #94
Explorer search is STILL UNBEARABLE in Windows 10, unbelievably busted. I've been using 3rd party software only for searching files for a few years already, and every time that I make the mistake of trying to search something in File Explorer I immediately regret it. The fact that it is not fixed after YEARS this is happening is mind boggling for me... it's really like Microsoft have no respect fo

[2022-09-18 18:41] AzAgarampur opened #110 "Explorer leaks resources over a long time"
### Windows Build Number

10.0.22000.0

### Processor Architecture

AMD64

### Memory

8GB

### Storage Type, free / capacity

C: SSD NVME 256GB

### Relevant apps installed

Windows Explorer (no shell extensions)

### Traces collected via Feedback Hub

None

### Isssue description

When explorer runs for a long time, a bunch of initially-suspended threads are created in the explorer process, and

[2022-09-23 20:42] BenJKuhn commented on #110
Can you please submit this as an issue in feedback hub? That will capture more detailed system information that will be useful in diagnosing the issue.

[2022-09-26 20:59] bitcrazed commented on #74
Closing since this issue has been fixed and has had no subsequent feedback. Thanks for reporting & helping us resolve.

[2022-09-26 20:59] #74 closed, assigned to CHorvath12

[2022-10-12 04:05] Eli-Black-Work commented on #89
@AvriMSFT Will this change help speed up error reporting via Visual Studio? Uploading traces via the VS error reporting tool takes _forever_, lol.

[2022-10-12 04:08] Eli-Black-Work commented on #98
@saschanaz Are you building this with Visual Studio?

[2022-10-12 04:11] Eli-Black-Work commented on #101
Having some sort of visual indicator in Process Manager that indicates CPU throttling is a great idea 🙂

[2022-10-12 04:16] Eli-Black-Work commented on #107
@FrancisKing3 Can you post a link to the document that you're referring to?

[2022-10-12 04:26] randomascii commented on #101
This issue has recently become particularly personally interesting for me because my work laptop has started intermittently throttling. I don't know if it is thermal throttling, power throttling, or something else. I suspect thermal throttling, perhaps due to thermal paste or some other aspect of the laptop degrading after ~four years of use.

Diagnosing this was tricky. I initially noticed interm

[2022-10-12 11:30] saschanaz commented on #98
Nope.

[2022-10-12 16:44] zooba commented on #98
If this is the same issue I ran into on a separate project, the answer was to `#include <windows.h>` instead of `winuser.h` in the RC file. (I don't have any special knowledge as a MSFT employee here, just ran into a similar issue myself a while back.)

[2022-10-12 17:22] sylveon commented on #98
This is correct, windows.h defines the macros identifying the target arch. There's a reason almost all winapi docs say "header.h (include windows.h)"

[2022-10-12 18:30] saschanaz commented on #98
Well, my point is that:

[code]

This compatibility is now broken.

[2022-10-12 22:03] zooba commented on #98
`winuser.h` isn't meant for RC files. It should be `winuser.rh`, but including `windows.h` figures that out. I don't know exactly when this was changed, but it caught me out too.

Basically, don't include `winuser.h` directly (which was always the instruction, but I guess a sample came out at some point that led us astray).

[2022-10-14 09:07] mcamprecios commented on #17
Is there a list of steps to try to improve performance?

I got a gig that uses Gulp in Node 14.20... It takes about two minutes in compiling 90 Pug templates with Sass. I'm basically not able to work nor to understand how it is possible.

I use Win10 in a AMD Ryzen 7 5800H (3.20 GHz) and 32GB of RAM. So I just want to cry... Tell me I'm not losing a job because I use Windows... :/

[2022-10-14 16:50] asklar commented on #17
@kram08980 are you able to try building inside [WSL2](https://learn.microsoft.com/windows/wsl/)?

[2022-11-01 00:39] mikedon1 commented on #75
My government organization doesn't allow us to use GitHub, but does have OneDrive.  It would be very useful if we could use it with code version control.

[2022-11-15 15:25] Jogai commented on #21
Fastest way for me is:

    del /f/s/q node_mdules > nul
    rmdir /s/q node_modules

Got it from https://stackoverflow.com/a/6208144/141243

[2022-11-22 14:41] rhuijben commented on #102
Any news half a year later? @AvriMSFT @zooba?

[2022-11-30 20:49] zooba commented on #102
The Windows build team acknowledged that they're doing it, but I don't know how much further it got than that. If it's still happening, probably didn't go anywhere. I'll see if the people I was in touch with are still on it.